# IDE
.idea/

# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Playwright
test-results/
playwright-report/
downloads/
videos/

# Environment
.env

# Allure
allure-results/
allure-report/
allure-history/

# Logs
*.log

# OS
.DS_Store